<div class="container"> 
        <nav class="navbar navbar-expand-lg navbar-light ">
                <ul class="nav navbar-nav float-left" routerLinkActive="active">
                         <div class="nav-item">   <img class="ima" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH&size=770:433" alt="image"><a class="btn" routerLink="/">MyPortFolio</a></div>
                </ul>
                 <ul class="nav navbar-nav " style="margin-left: 70%" routerLinkActive="active">
                        <li class="nav-item"><a class=" btn" routerLink="/signin" style="margin: 5px;">Sign In</a></li>
                        <li class="nav-item"><a class="btn" routerLink="/signup"  style="margin: 5px">Sign Up</a> </li>
                </ul>
        </nav>
        <div class="container">
        <router-outlet></router-outlet>
        </div>
      </div>

