    
      <div class="container" style="padding: 10px;align-self: center">
  <div class="jumbotron" style="background-image: url(https://miro.medium.com/max/1100/1*OlgqUIhvl5-9dZISlZ2-yQ.jpeg);margin-top: 30px; padding: 150px;image-resolution: inherit">
 
  <h1 style="color: aliceblue;margin-top: 30px;text-align: start;text-decoration: mintcream;"> Hello There! Welcome to my </h1>    
  <h2 style="color:aliceblue ;text-align: right; text-align: left; margin-top: 85px; margin-left: 30px;" >Easy way to create your amazing portfolio...</h2>
  </div>
  </div>
  
  
  
  
  